/* Algemeen */
@import url("https://use.typekit.net/xyi4lka.css");
@import url("https://fonts.cdnfonts.com/css/poppins");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'source-sans-pro', sans-serif;
}

i {
    font-style: normal;
}

a {
    cursor: pointer;
    text-decoration: inherit;
}

li {
    list-style: none;
    margin: 0;
    padding: 0;
    line-height: normal;
}

.container {
    max-width: 72vw;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

.col-50 {
    width: 50%;
}

/* Headings */
h1 {
    font-weight: 700;
    line-height: 1.1em;
    color: #2F2F2F;
}

h2 {
    font-size: 38px;
    font-weight: 700;
    line-height: 1.1em;
    color: #2F2F2F;
}

h3 {
    font-size: 26px;
    font-weight: 700;
    line-height: 1.1em;
    color: #2F2F2F;
}

h4 {
    font-size: 24px;
    font-weight: 700;
    line-height: 1.1em;
    color: #2F2F2F;
}

p {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.8em;
    color: #2F2F2F;
    margin-top: 0;
    margin-bottom: 0.9rem;
}

/* Buttons */
.button-1, .button-2 {
    color: white;
    line-height: 1em;
}

.button-1 {
    display: inline-flex;
    font-size: 18px;
    font-weight: 700;
    background-color: #4895ef;
    padding: 15px 30px 15px 30px;
    border-radius: 100px;
    transition: all .3s ease;
}

.button-1:hover {
    background-color: #3288ed;
}

.button-1:after {
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    content: "\f178";
    margin-left: 10px;
}

.button-2 {
    display: inline-flex;
    font-size: 18px;
    font-weight: 700;
    background-color: transparent;
    background-image: linear-gradient(145deg, #670ab3 0%, #4895ef 100%);
    padding: 15px 30px 15px 30px;
    border-radius: 100px;
    transition: all .3s ease;
    transition-property: transform;
}

.button-2:hover {
    background-image: linear-gradient(145deg, #4895ef 0%, #670ab3 100%);
    transform: scale(1.1);
}

.button-2:after {
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    content: "\f178";
    margin-left: 10px;
}

.contact-button {
    display: inline-flex;
    color: white;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1em;
    background-color: #4895ef;
    padding: 15px 30px 15px 30px;
    border-radius: 100px;
    margin-left: 10px;
    transition: all .3s ease;
}

.contact-button:before {
    font-family: "Font Awesome 6 Free";
    font-weight: 400;
    content: "\f4ad";
    color: white;
    margin-right: 10px;
}

.contact-button:hover {
    color: white; /* de hover werd #4895ef, daarom dubbel */
    background-color: #3288ed;
}

.social-media-buttons {
    display: flex;
}

.social-media-buttons i {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    color: white;
    background-color: #2F2F2F;
    --icon-padding: 0.5em;
    border-radius: 100%;
    width: 2em;
    height: 2em;
    transition: all .3s ease;
    transition-property: transform;
}

.social-media-buttons i:hover {
    transform: scale(1.1);
}

.social-media-buttons i::before:hover {
    opacity: .9;
    color: white;
}

.social-media-buttons i.fab.fa-linkedin-in {
    margin-right: 10px;
}

/* Header */
header {
    position: sticky;
    top: 0;
    background-color: white;
    box-shadow: 0 -6px 10px 5px rgba(0,0,0,0.5);
    z-index: 999;
    padding: 20px;
}

header .container {
    display: flex;
    justify-content: space-between;
}

nav ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

header img {
    vertical-align: middle;
}

header li a {
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    color: #2F2F2F;
    transition: all .3s ease;
}

header li a#current {
    color: #670ab3;
}

header li a:hover, header li a#current:hover {
    color: #4895ef;
}

header li:nth-child(2) {
    margin: 0 20px 0 20px;
}

header li:nth-child(3) {
    margin-right: 50px;
}

/* Footer */
.footer-info {
    background-color: #101010;
    position: relative;
    padding: 80px 20px;
}

.footer-info h2 {
    color: white;
    font-family: "Poppins", Sans-serif;
    font-size: 50px;
    font-weight: 900;
    text-transform: uppercase;
    font-style: normal;
    text-decoration: none;
    line-height: 1.1em;
    margin-bottom: 30px;
}

.footer-info > .footer-background-overlay {
    background-attachment: scroll;
    background-image: url("../images/branding/BG-Elements-White.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.025;
    pointer-events: none;
}

.footer-info .footer-background-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.footer-info .container {
    display: flex;
}

.col-80 {
    flex-basis: 80%;
}

.col-20 {
    flex-basis: 20%;
}

.col-80 a.contact-button {
    margin: 0;
}

.col-20 h4 {
    color: white;
    margin-bottom: 10px;
}

.footer-social-links a {
    display: flex;
    align-items: center;
}

.footer-social-links i {
    font-size: 18px;
    color: white;
    margin-right: 10px;
}

.footer-social-links p {
    font-family: "basic-sans", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 18px;
    font-weight: 300;
    margin: 0;
    color: white;
}

li.social-coming-soon {
    display: flex;
    align-items: center;
}

li.social-coming-soon p {
    font-style: italic;
}

.footer-social-links li {
    margin-bottom: 10px;
}

.footer-social-links li:last-child {
    margin-bottom: 0;
}

.copyright {
    background-color: #2F2F2F;
    padding: 10px 20px;
}

.copyright p {
    color: white;
    margin: 0;
    text-align: center;
}

/* Home - Hero */
.home-hero {
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 20px 0px 20px;
    background-image: url("../images/branding/hero.svg");
    background-position: 50% 25%;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.8;
}

.home-hero span {
    color: #FFFFFFCC;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.home-hero h1 {
    color: white;
    font-size: 50px;
    margin-bottom: 50px;
}

.home-hero .social-media-buttons i {
    font-size: 24px;
    background-color: rgba(255, 255, 255, 0.3);
}

.home-hero .button-1 {
    margin-right: 10px;
}

/* Home - Over mij */
.over-mij {
    padding: 100px 20px;
    background-color: white;
}

.over-mij .container {
    display: flex;
    gap: 100px;
    align-items: center;
}

.over-mij img {
    width: 100%;
    border-radius: 1000px;
}

.over-mij h2 {
    margin-bottom: 10px;
}

/* Home - Banner */
.home-banner {
    background-image: linear-gradient(145deg, #670ab3 0%, #4895ef 100%);
    padding: 50px 20px;
    position: relative;
}

.home-banner > .banner-background-overlay {
    background-attachment: scroll;
    background-image: url("../images/branding/Overlay-EG-Icon.svg");
    background-position: center center;
    background-repeat: repeat;
    background-size: 50%;
    opacity: .1;
    pointer-events: none;
}

.home-banner .banner-background-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.home-banner h3 {
    color: white;
    font-size: 70px;
    text-align: center;
}

/* Home - Mijn werkwijze */
.mijn-werkwijze {
    padding: 100px 20px;
    background-color: white;
}

.mijn-werkwijze h2 {
    text-align: center;
    margin-bottom: 16px;
}

.mijn-werkwijze-articles {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.mijn-werkwijze-articles article {
    flex-basis: 33%;
    padding: 25px;
    border-radius: 10px;
    background-color: #670ab3;
    text-align: center;
}

.mijn-werkwijze-articles i {
    color: white;
    background-color: rgba(255, 255, 255, 0.3);
    font-size: 44px;
    padding: 20px;
    border-radius: 50%;
    margin-bottom: 15px;
    transition-duration: .3s;
    transition-property: transform;
}

.mijn-werkwijze-articles i:hover {
    transform: scale(1.1) rotate(4deg);
}

.mijn-werkwijze-articles h3 {
    margin-bottom: 8px;
    color: white;
}

.mijn-werkwijze-articles p {
    color: rgba(255, 255, 255, 0.6);
}

/* Home - Cases */
.cases-info {
    background-image: linear-gradient(145deg, #670ab3 0%, #4895ef 100%);
    padding: 100px 20px;
    text-align: center;
}

.cases-info h2 {
    color: white;
    margin-bottom: 16px;
}

.cases-info p {
    color: white;
}

.cases {
    margin-top: -60px;
}

.cases-articles {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.cases-articles:first-of-type {
    margin-bottom: 20px;
}

.cases-articles article {
    flex-basis: 33%;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

.cases-preview-image img {
    width: 100%;
    border-radius: 10px 10px 0 0;
    height: 200px;
    object-fit: cover;
    object-position: top;
}

.cases-preview-image {
    position: relative;
    height: 200px;
}

.cases-preview-image > .cases-background-overlay {
    background-image: linear-gradient(180deg, transparent 0%, #2F2F2F 100%);
    opacity: 0.4;
    transition: all .3s ease;
}

.cases-preview-image > .cases-background-overlay:hover {
    opacity: 0;
}

.cases-preview-image .cases-background-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 200px;
}

.cases-articles article h3 {
    font-size: 22px;
    margin: 25px 25px 8px 25px;
}

.cases-articles article h3 a {
    color: #2F2F2F;
}

.cases .button-1 {
    margin: 0 25px 25px 25px;
}

.cases-button {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 100px;
}

/*  Pagina heros */
.pagina-heros {
    min-height: 35vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0px 20px 0px 20px;
    background-image: linear-gradient(145deg, #670ab3 0%, #4895ef 100%);
    position: relative;
}

.pagina-heros > .pagina-hero-overlays {
    background-attachment: scroll;
    background-image: url("../images/branding/BG-Elements-White.svg");
    background-position: 50% 60%;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.05;
    pointer-events: none;
}

.pagina-heros .pagina-hero-overlays {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.pagina-heros h1 {
    color: white;
    font-size: 50px;
    text-align: center;
}

/* Portfolio */
.portfolio-cases-info {
    background-color: #f7f7f7;
    padding: 100px 20px;
    text-align: center;
}

.portfolio-cases-info h2 {
    margin-bottom: 16px;
}

#portfolio-cases {
    padding-bottom: 100px;
}

/* Case voorbeeld */
.case {
    background-color: white;
    padding: 100px 20px;
}

.case h2 {
    margin-bottom: 16px;
}

.case-gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

.case-gallery img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    background-position: center center;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 5%);
}

/* Repsonsive - Tablet */
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .container {
        max-width: 100vw;
    }

    .over-mij, .mijn-werkwijze {
        padding: 50px 20px;
    }

    .over-mij .container {
        gap: 50px;
    }

    .cases-info {
        padding: 50px 20px 80px 20px;
    }

    .cases {
        padding: 0 20px 0 20px;
    }

    .cases-preview-image, .cases-preview-image .cases-background-overlay, .cases-preview-image img  {
        height: 175px;
    }

    .cases-button {
        margin-bottom: 50px;
    }

    .footer-info .container {
        display: flex;
        flex-wrap: wrap;
    }

    .col-80, .col-20 {
        flex-basis: 100%;
    }

    .col-20 {
        margin-top: 50px;
    }

    .footer-social-links li {
        margin-bottom: 0;
    }

    .footer-social-links {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
    .container {
        max-width: 100vw;
    }

    header .container {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    header nav {
        margin-top: 20px;
    }

    .home-hero {
        background-position: 0;
        background-size: 125%;
    }

    .over-mij .container {
        flex-direction: column-reverse;
        gap: 20px;
    }

    .col-50 {
        width: 100%;
    }

    .home-banner h3 {
        font-size: 45px;
    }

    .cases {
        padding: 0 20px;
    }

    .cases-articles {
        flex-direction: column;
    }

    .cases-button {
        margin-bottom: 50px;
    }

    .case-gallery {
        grid-template-columns: repeat(2, 1fr);
    }

    .footer-info .container {
        display: flex;
        flex-wrap: wrap;
    }

    .col-80, .col-20 {
        flex-basis: 100%;
    }

    .col-20 {
        margin-top: 50px;
    }

    .footer-info h2 {
        font-size: 45px;
    }

    .footer-social-links li {
        margin-bottom: 0;
    }

    .footer-social-links {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

/* Repsonsive - Mobiel */
/* @media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (orientation: portrait) {
    .container {
        max-width: 100vw;
    }

    header {
        padding: 20px 0 20px 0;
    }

    header nav {
        flex-wrap: wrap;
    }

    header img {
        width: 50%;
    }

    header a {
        text-align: center;
    }
}

@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (orientation: landscape) {

} */