/* Algemeen */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Source Sans 3', sans-serif;
}

i {
    font-style: normal;
}

a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: inherit;
}

main {
    margin: 1em;
}

/* Header */
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: white;
}

header {
    position: sticky;
    top: 0;
    width: -webkit-fill-available;
    background-color: white;
    box-shadow: 0 -6px 10px 5px rgba(0,0,0,0.5);
}

ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li {
    list-style: none;
    margin: 0;
    padding: 0;
    line-height: normal;
}

a.menu-title-text {
    font-family: 'Source Sans 3', sans-serif;
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    color: #2F2F2F;
}

i.fab.fa-behance:before {
    font-family: "Font Awesome 5 Brands";
    font-weight: 400;
    content: "\f1b4";
}

i.fab.fa-linkedin-in:before {
    font-family: "Font Awesome 5 Brands";
    font-weight: 400;
    content: "\f0e1";
}

i.far.fa-comment-dots:before {
    font-family: "Font Awesome 5 Free";
    font-weight: 400;
    content: "\f4ad";
}

.contact-button a {
    color: white;
    line-height: 1em;
    text-decoration: inherit;
    margin-left: 10px;
}

.contact-button {
    font-family: 'Source Sans 3', sans-serif;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    color: white;
    background-color: #4895ef;
    padding: 15px 30px 15px 30px;
    border-radius: 100px;
}

/* Headings */
h1 {
    font-weight: 700;
    color: #2F2F2F;
}

h2 {
    font-weight: 700;
    color: #2F2F2F;
}

h3 {
    font-weight: 700;
    color: #2F2F2F;
}

p {
    font: 400;
    color: #2F2F2F;
}

/* Home Hero */
/* section {
    display: flex;
    margin-right: auto;
    margin-left: auto;
    position: relative;
} */

section.home-hero {
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 20px 0px 20px;
    background-color: #4895ef;
}